[core]
  editor = vim -f
	excludesfile = /Users/ben/.gitignore_global
  quotepath = false
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  logs = log --pretty=oneline --abbrev-commit
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  st = status
  co = checkout
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
	tool = diffmerge
  #tool = p4merge
  keepBackup = false
[mergetool "p4merge"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[mergetool "diffmerge"]
  cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = true
[mergetool]
	keepBackup = false
	prompt = false
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge $LOCAL $REMOTE
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	email = drteeth@gmail.com
	name = Benjamin Moss
	signingkey = 9D7A5AC4
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true
