[core]
  editor = vim -f
  excludesfile = ~/.gitignore_global
  quotepath = false
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = true
[mergetool]
  keepBackup = false
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge $LOCAL $REMOTE
[user]
	name = Benjamin Moss
	email = ben@indusblue.com
